Repository CostasAK/d2-buddy: changes, and which lint-staged commands are due for each by the changed paths.
All: imagemin-lint-staged, prettier --write

.lintstagedrc.json:

{
  "*.{png,jpeg,jpg,gif,svg}": "imagemin-lint-staged",
  "!(*.{js,jsx,ts,tsx,png,jpeg,jpg,gif,svg})": "prettier --ignore-unknown --write",
  "*.{js,jsx,ts,tsx}": ["prettier --write"]
}

fix: altars of sorrow weapon links
  src/pages/Timers/timersData.jsx
Due: prettier --write

fix: layout shift loading modifier icons
  src/components/Activity/ActivityModifier.jsx
Due: prettier --write

chore: lint-staged with npx
  .husky/pre-commit
  .lintstagedrc.json
  package.json
Due: none

feat: new timers icons
  src/assets/EuropaEclipsedZone.png
  src/assets/EuropaSimulation.png
  src/assets/Fishing.png
  src/pages/Timers/timersData.jsx
Due: imagemin-lint-staged, prettier --write

docs: add alt text and fix spelling
  README.md
Due: none

fix: remove old timers
  src/pages/Timers/timersData.jsx
Due: prettier --write
